
      /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    padding: 5em;
    width: 50%; /* Could be more or less, depending on screen size */
}

#topHeaderRow .container {
    margin-top: 10px;
}

.main-navbar {
    padding-top: 13px;
}

.cancelbtn {
    margin-bottom: 10px;
    margin-top:10px

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,

.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

span.psw {
    float: right;
    padding-top: 16px;
}

#logIn {
    margin-bottom: 10px;
    margin-top:10px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.contain{
    padding-left: 10px;
    padding-right: 10px;
}